body {
    font-family: Georgia, 'Times New Roman', serif;
}

body a {
    color: #3fa588;
}

body hr {
    height: 2px;
    background-color: #57e0b9;
    border: 0;
}

header {
    text-align: center;
}

header img {
    width: 280px;
    margin-bottom: 20px;
}

header p {
    color: #3d8b67;
    background-color: rgba(255, 255, 152, 0.3);
    padding: 15px 0;
    border-top: solid 2px rgb(228, 228, 0);
}

main {
    margin-left: 400px;
    margin-right: 400px;
}

main h1 {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.vid-block p {
    color: gray;
    text-align: center;
}

.vid-container {
    width: 100%;
}

.vid-container video {
    width: 100%;
}

article {
    padding-left: 15px;
    border-left: solid 1px rgb(215, 215, 0);
    margin-top: 40px;
    margin-bottom: 60px;
}

article h4 {
    margin-bottom: 0;
    color: rgb(220, 73, 73);
}

article h5 {
    margin-top: 3px;
}

section h4 {
    margin-bottom: 0;
}

section ul {
    margin-top: 18px;
}

section li {
    margin-bottom: 15px;
}

.top-spacing {
    margin-top: 35px;
}