<div class="bg-light">
    <div class="container-fluid pt-4">
        <div class="row mx-0">
            <div class="col-lg-1"></div>
            <div class="col px-0 pb-2 border-1 border-bottom border-secondary">
                <h2 class="m-0">Account</h2>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-2 mx-0">
            <div class="col-lg-1"></div>
            <div class="col px-0 pb-3 border-1 border-bottom border-secondary">
                <div class="row w-100 mx-0">
                    <div
                        class="col-12 col-lg-3 px-0 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
                        <p class="text-muted my-1 fs-5">ABBONAMENTO E FATTURAZIONE</p>
                        <button class="btn btn-sm px-4 py-1 btn-secondary rounded-0 custom-width">Disdici
                            abbonamento</button>
                    </div>
                    <div class="col-12 col-lg-9 pb-2 px-0 border-1 border-bottom border-secondary">
                        <div class="d-flex justify-content-between">
                            <p class="fw-bold my-1">youremail@myemail.com</p>
                            <a href="#" class="my-1 text-decoration-none text-end">Modifica email</a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-muted my-1">Password: **********</p>
                            <a href="#" class="my-1 text-decoration-none text-end">Modifica password</a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-muted my-1">Phone: 333 66 699 000</p>
                            <a href="#" class="my-1 text-decoration-none text-end">Modifica numero di telefono</a>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="my-1 text-decoration-none text-end">Verifica numero di telefono</a>
                        </div>
                    </div>
                </div>
                <div class="row w-100 mx-0 mt-3">
                    <div class="col-lg-3 px-0"></div>
                    <div class="col col-lg-9 px-0 pb-3 border-1 border-bottom border-secondary">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center h-max">
                                    <i class="bi bi-paypal"></i>
                                    <p class="fw-bold m-0 ms-2">youremail@myemail.com</p>
                                </div>
                                <p class="m-0 mt-2">Prossima data di fatturazione è 23 luglio 2023</p>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <a href="#" class="text-decoration-none my-1 text-end">Gestisci dati di pagamento</a>
                                <a href="#" class="text-decoration-none my-1 text-end">Aggiungi pagamento di
                                    riserva</a>
                                <a href="#" class="text-decoration-none my-1 text-end">Informazioni per la
                                    fatturazione</a>
                                <a href="#" class="text-decoration-none my-1 text-end">Modifica giorno di
                                    fatturazione</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex flex-column align-items-end">
                        <a href="#" class="text-decoration-none">Riscatta carta regalo o codice promozionale</a>
                        <a href="#" class="text-decoration-none">Dove acquistare carte regalo</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-2 mx-0">
            <div class="col-lg-1"></div>
            <div class="col px-0 pb-2 border-1 border-bottom border-secondary">
                <div class="row w-100 mx-0 flex-column flex-md-row">
                    <div class="col col-lg-3 px-0 d-flex justify-content-center justify-content-md-start mb-1 mb-md-0">
                        <p class="text-muted my-0">INFORMAZIONI SUL PIANO</p>
                    </div>
                    <div class="col col-lg-3 px-0">
                        <div class="d-flex justify-content-center justify-content-md-start mb-2 mb-md-0">
                            <p class="fw-bold me-2 my-0">Premium</p>
                            <p class="my-0 border border-1 border-dark px-2 py-0 rounded-1">ULTRA HD</p>
                        </div>
                    </div>
                    <div class="col col-lg-6 px-0 d-flex justify-content-center justify-content-md-end">
                        <a href="#" class="text-decoration-none">Cambia piano</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-2 mx-0">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 px-0 pb-3 border-1 border-bottom border-secondary">
                <div class="row w-100 mx-0 flex-column flex-md-row">
                    <div class="col col-lg-3 px-0 d-flex justify-content-center justify-content-md-start">
                        <p class="text-muted">SICUREZZA E PRIVACY</p>
                    </div>
                    <div class="col px-0 mb-2 mb-md-0 text-center text-md-start">
                        <p class="m-0">Controlla gli accessi a questo account, vedi i dispositivi più attivi di recente
                            e non solo.</p>
                    </div>
                    <div class="col px-0 d-flex flex-column align-items-center align-items-md-end">
                        <a href="" class="text-decoration-none text-end">Gestisci accessi e dispositivi</a>
                        <a href="" class="text-decoration-none text-end">Esci dall'account su tutti i dispositivi</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-2 mx-0">
            <div class="col-lg-1"></div>
            <div class="col col-lg-10 px-0 pb-3 border-1 border-bottom border-secondary">
                <div
                    class="row w-100 mx-0 flex-column align-items-center flex-md-row justify-content-center justify-content-md-start">
                    <div class="col-4 col-lg-3 px-0 d-flex justify-content-center justify-content-md-start">
                        <p class="text-muted my-0">UTENTI EXTRA</p>
                    </div>
                    <div class="col-6 px-0">
                        <div class="text-center text-md-start mb-2 mb-md-0">
                            <p class="m-0">Con il piano Standard o Premium puoi condividere Netflix con chi non vive con
                                te</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-2 mx-0">
            <div class="col-lg-1"></div>
            <div class="col col-lg-10 px-0 pb-3 border-1 border-bottom border-secondary">
                <div
                    class="row w-100 mx-0 flex-column align-items-center flex-md-row justify-content-center justify-content-md-start">
                    <div class="col-4 col-lg-3 px-0 d-flex justify-content-center justify-content-md-start">
                        <p class="text-muted my-0">IMPOSTAZIONI</p>
                    </div>
                    <div class="col px-0 d-flex flex-column align-items-center flex-md-row justify-content-md-between">
                        <div class="d-flex flex-column align-items-center align-items-md-start mb-2 mb-md-0">
                            <a href="#" class="text-decoration-none">Disattiva i trasferimenti di profilo</a>
                            <a href="#" class="text-decoration-none">Partecipazione a test</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>