form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 15%;
    padding: 0 15px;
    font-size: 1.1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--bg-tert);
    border: 1px solid var(--my-red) !important;
    border: none;
    color: white;
    cursor: pointer;
  }

  input {
    width: 50%;
    height: 35px;
    color: white;
    background-color: var(--bg-tert);
    border: 1px solid var(--my-red) !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 10px;

    &:focus {
      outline: none;
    }
  }
}
