<div *ngIf="!isPageLoading && !isArrLoading && !isUserInfoLoading" class="container py-4">
    <div class="d-flex justify-content-between">
        <h1 [innerText]="postArr.length == 0 ? 'Nessun Post disponibile' : 'Lista dei Post'"></h1>
        <button *ngIf="isLogged" class="btn btn-danger px-5 py-2 my-2" [routerLink]="'/posts/create'">Crea Nuovo
            Post</button>
    </div>
    <div class="row g-2 mt-2">
        <div *ngFor="let post of postArr" class="col-12 bg-black p-3">
            <p class="m-0 mb-1 pointer w-max"><span class="text-danger">{{ post.owner.username }}</span> >> {{
                post.title }}
            </p>
            <p class="m-0">{{ post.content }}</p>
            <div *ngIf="getIsOwner(post) || getIsAdmin()" class="d-flex mt-4">
                <button *ngIf="getIsOwner(post)" [routerLink]="'/posts/edit/' + post.id"
                    class="btn btn-outline-warning px-3 me-3">Edit
                    Post</button>
                <button *ngIf="getIsOwner(post) || getIsAdmin()" class="btn btn-outline-danger px-3"
                    (click)="deletePost(post)">Delete
                    Post</button>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isPageLoading || isArrLoading || isUserInfoLoading"></app-loading>