<div *ngIf="!isPageLoading && !isArrLoading" class="container py-4">
    <app-alert *ngIf="isError" (onCloseAlert)="isError = false" [messageTitle]="alertTitle"
        [errorInfo]="alertBody"></app-alert>
    <table *ngIf="!isError" class="table">
        <thead>
            <tr class="border-0">
                <th scope="col" class="bg-secondary text-white">#</th>
                <th scope="col" class="bg-secondary text-white">Real Name</th>
                <th scope="col" class="bg-secondary text-white">Username</th>
                <th scope="col" class="bg-secondary text-white">E-Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersArr; let i = index" class="border-1 border-bottom border-danger">
                <th scope="row" class="bg-secondary text-white border-0">{{ i + 1 }}</th>
                <td class="bg-secondary border-0"
                    [ngClass]="{'text-danger-emphasis fw-bold': user.isadmin, 'text-white': !user.isadmin}">{{
                    user.realname }}</td>
                <td class="bg-secondary border-0"
                    [ngClass]="{'text-danger-emphasis fw-bold': user.isadmin, 'text-white': !user.isadmin}">{{
                    user.username }}</td>
                <td class="bg-secondary text-white border-0">{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-loading *ngIf="isPageLoading || isArrLoading"></app-loading>