<div class="container">
    <table class="table mt-4">
        <thead>
            <tr class="border-0">
                <th scope="col" class="bg-secondary text-white">#</th>
                <th scope="col" class="bg-secondary text-white">Real Name</th>
                <th scope="col" class="bg-secondary text-white">Username</th>
                <th scope="col" class="bg-secondary text-white">E-Mail</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of usersArr">
            <tr class="border-1 border-bottom border-danger">
                <th scope="row" class="bg-secondary text-white border-0">{{ user.id }}</th>
                <td class="bg-secondary text-white border-0">{{ user.realname }}</td>
                <td class="bg-secondary text-white border-0">{{ user.username }}</td>
                <td class="bg-secondary text-white border-0">{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
</div>