header {
  background: var(--bg-sec);
  background: -moz-linear-gradient(
    left,
    var(--bg-sec) 0%,
    var(--bg-body) 50%,
    var(--bg-sec) 100%
  );
  background: -webkit-linear-gradient(
    left,
    var(--bg-sec) 0%,
    var(--bg-body) 50%,
    var(--bg-sec) 100%
  );
  background: linear-gradient(
    to right,
    var(--bg-sec) 0%,
    var(--bg-body) 50%,
    var(--bg-sec) 100%
  );
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--my-red);

  img {
    width: 40px;
    cursor: pointer;
    animation: rotate 4s linear 0s infinite;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .links-container {
    display: flex;
    align-items: center;
    height: max-content;

    .me-3 {
      margin-right: 30px;
    }
    .me-5 {
      margin-right: 60px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-bottom: 5px;

      .me-5 {
        margin-right: 0;
        margin-bottom: 30px;
      }

      .me-3 {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .resp-none {
      display: none;
    }
  }
}
