footer {
  background: var(--bg-sec);
  background: -moz-linear-gradient(
    left,
    var(--bg-sec) 0%,
    var(--bg-body) 50%,
    var(--bg-sec) 100%
  );
  background: -webkit-linear-gradient(
    left,
    var(--bg-sec) 0%,
    var(--bg-body) 50%,
    var(--bg-sec) 100%
  );
  background: linear-gradient(
    to right,
    var(--bg-sec) 0%,
    var(--bg-body) 50%,
    var(--bg-sec) 100%
  );
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--my-red);

  :last-child {
    font-size: 1.5em;
    font-weight: bold;
  }
}
