@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

:root {
    --primary: #ffc017;
    --myBlack: #191919;
    --myGreen: #1a8917;
}

html, body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.pad-indent {
    padding-left: 100px;
    padding-right: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

nav object {
    width: 65%;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 8px;
    cursor: pointer;
}

ul li button {
    border: none;
    color: white;
    background-color: var(--myBlack);
    border-radius: 20px;
    padding: 5px 8px;
}

main {
    
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Spectral', sans-serif;
}

.heading-container {
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    border-bottom: 1px solid black;
}

.heading {
    padding: 30px 0;
    flex-grow: 1;
}

.heading p {
    margin: 20px 0;
    font-weight: bold;
}

.heading button {
    padding: 7px 30px;
    background-color: var(--myBlack);
    border: none;
    border-radius: 25px;
    color: white;
}

.trending-section {
    padding-top: 40px;
    border-bottom: 1px solid black;
}

.trend-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.7em;
    font-weight: bold;
}

.trend-title object {
    width: 20px;
    margin-right: 5px;
}

.trend-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.6em;
    font-weight: bold;
}

.trend-article-container {
    display: flex;
    width: 30%;
    margin-bottom: 35px;
}

.trend-article-content {
    display: flex;
    flex-direction: column;
}

.trend-article-container h3 {
    font-size: 1.6em;
    color: lightgrey;
    font-weight: bold;
    margin-right: 10px;
}

.trend-article-content img {
    width: 25px;
    border-radius: 100%;
    margin-right: 6px;
}

.article-writer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.article-writer span {
    font-weight: normal;
}

.article-title {
    margin-bottom: 12px;
}

.article-date {
    font-weight: normal;
}