@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

:root {
    --primary: #ffc017;
    --myBlack: #191919;
    --myGreen: #1a8917;
}

html, body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.pad-indent {
    padding-left: 100px;
    padding-right: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

nav object {
    width: 65%;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 8px;
    cursor: pointer;
}

ul li button {
    border: none;
    color: white;
    background-color: var(--myBlack);
    border-radius: 20px;
    padding: 5px 8px;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Spectral', sans-serif;
}

.heading-container {
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    border-bottom: 1px solid black;
}

.heading {
    padding: 30px 0;
    flex-grow: 1;
}

.heading p {
    margin: 20px 0;
    font-weight: bold;
}

.heading button {
    padding: 7px 30px;
    background-color: var(--myBlack);
    border: none;
    border-radius: 25px;
    color: white;
}

.trending-section {
    padding-top: 40px;
    border-bottom: 1px solid black;
}

.trend-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.7em;
    font-weight: bold;
}

.trend-title object {
    width: 20px;
    margin-right: 5px;
}

.trend-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.6em;
    font-weight: bold;
}

.trend-article-container {
    display: flex;
    width: 30%;
    margin-bottom: 35px;
}

.trend-article-content {
    display: flex;
    flex-direction: column;
}

.trend-article-container h3 {
    font-size: 1.6em;
    color: lightgrey;
    font-weight: bold;
    margin-right: 10px;
}

.trend-article-content img {
    width: 25px;
    border-radius: 100%;
    margin-right: 6px;
}

.trend-article-writer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.trend-article-writer span {
    font-weight: normal;
}

.trend-article-title {
    margin-bottom: 12px;
}

.trend-article-date {
    font-weight: normal;
}

.main-container {
    margin-top: 50px;
    display: flex;
    /* position: relative; */
}

.articles-list {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.article-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6em;
    margin-bottom: 40px;
}

.article-info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.article-writer {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-writer img {
    border-radius: 100%;
    width: 25px;
    margin-right: 6px;
}

.article-title h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.article-content {
    margin-top: 15px;
}

.article-content p {
    color: rgb(128, 128, 128);
    font-size: 1.2em;
}

.article-date {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.article-date p {
    margin-right: 10px;
}

.article-date button {
    border: none;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 10px;
    font-size: 1.0em;
    cursor: pointer;
}

.article-date object:nth-of-type(1) {
    margin-right: 15px;
}

.img-container {
    width: 30%;
}

.img-container img {
    width: 90%;
}

.stick-container {
    position: sticky;
    top: 0;
}

aside {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 15px;
    width: 40%;
}

.aside-title h4 {
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

.btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btns-container button {
    border: 1px solid lightgray;
    background-color: transparent;
    font-size: 0.7em;
    padding: 5px 8px;
    margin-bottom: 8px;
    color:grey;
    cursor: pointer;
}

.see-more a {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--myGreen);
    text-decoration: none;
}

.see-more {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.aside-links-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: grey;
}

.aside-links-container p {
    margin-bottom: 10px;
    cursor: pointer;
    padding-right: 15px;
}