<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-1 border-danger"
    aria-label="Eighth navbar example">
    <div class="container-fluid px-4">
        <a class="navbar-brand text-danger fs-4 fw-bold py-0" [routerLink]="['/']">Angular</a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="isHomePage()" aria-current="page" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isLogged" [class.active]="isAdminPage()" aria-current="page"
                        [routerLink]="['/admin']">Admin
                        Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isLogged" [class.active]="isUsersListPage()" aria-current="page"
                        [routerLink]="['/userslist']">Users
                        List</a>
                </li>
            </ul>
            <ul class="navbar-nav me-3 mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" [class.active]="isLoginPage()" [routerLink]="['/auth/login']">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" [class.active]="isRegisterPage()"
                        [routerLink]="['/auth/register']">Registrati</a>
                </li>
                <li *ngIf="isLogged" class="nav-item">
                    <p class="m-0 me-2 nav-link text-danger">Ciao, {{ userName }}</p>
                </li>
                <li *ngIf="isLogged" class="nav-item">
                    <a class="nav-link" [class.active]="isLogoutPage()" [routerLink]="['/auth/logout']">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>