$color-warning: rgb(255, 193, 7);
$bg-secondary: #6c757d;

// html,
// body {
//     height: 100%;
// }

main {
    margin-top: 90px;

    .custom-bg {
        background-color: #343a40;
    }

    div.row.g-3 img {
        transition: all 1s;
        &:hover {
            transform: scale(1.2);
        }
    }

    .row .col-12 {
        img {
            width: 220px;
            height: auto;

            @media screen and (max-width: 768px) {
                width: 160px;
            }
        }

        div.ms-sm-3 {
            @media screen and (min-width: 576px) {
                height: 100%;
                justify-content: space-evenly;
            }
        }
    }
}

body {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color-warning, 0.7);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $bg-secondary;
        border-radius: 10px;
    }
}
