@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 8vh;
    background-color: #303030;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#header i {
    color: #c2c2c2;
    margin: 9px 25px;
}

header button {
    background-color: #606060;
    color: white;
    padding: 0 0;
    margin-left: 20px;
    border: 2px solid #cab021;
    border-radius: 5%;
}

header button:hover {
    background-color: #909090;
    color: #303030;
}

.pre-main {
    text-align: center;
}

.pre-main img {
    width: 50%;
    margin-bottom: 10px;
}

.pre-main p {
    padding-bottom: 25px;
    margin-bottom: 40px;
    border-bottom: 2px solid #cab021;
}

.calcolatrice h2 {
    background-color: #303030;
    margin-bottom: 30px;
    padding: 20px 20px;
    color: #cab021;
    display: flex;
}

.calcolatrice h3 {
    margin: auto 0;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
}

#user-input, #user-input-2 {
    width: 25%;
    padding: 10px 0;
}

.output-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.selection {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.selection label {
    margin: auto 0;
    margin-right: 10px;

}

.selection select {
    padding: 8px 5px;
    width: 20%;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
    margin-top: 25px;
    padding: 10px 25px;
    background-color: #606060;
    color: white;
    border: 2px solid #cab021;
    border-radius: 5px;
}

.btn-container button:hover {
    background-color: #909090;
    color: #303030;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #303030;
    color: #cab021;
}

footer h4 {
    margin: 15px 0;
}