@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.main-container {
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  padding-bottom: 20px;

  .mt {
    margin-top: 30px;
  }

  app-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  app-todo-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }

  app-rinnegan {
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.center {
  justify-content: center;

  h2 {
    cursor: default;
  }
}
