nav {
    background-color: $bg-color;
    border-bottom: 2px solid black;

    .navbar-brand img {
        width: 100px;
    }

    .nav-item .dropdown-menu li a {
        &:focus {
            background-color: rgb(255, 0, 0, 0.6);
        }
    }

    li {
        cursor: pointer;

        button:focus {
            border: none;
        }

        .profile-img {
            width: 40px;
        }
    }
}
