nav {
    font-size: 0.9em;
    background-color: $bg-color;
    border-bottom: 2px solid black;

    .navbar-brand img {
        width: 100px;
    }

    li {
        cursor: pointer;

        button:focus {
            border: none;
        }

        .profile-img {
            width: 40px;
        }
    }
}
