body {
    color: $txt-color;
    background-color: $bg-color;
}

main {
    #heading .svg-container {
        padding: 5px 10px;
        border: 1px solid white;
        cursor: pointer;
    }
    select.form-select {
        width: max-content;
        option {
            &:hover {
                background-color: $bg-secondary;
            }
        }
    }
    button.custom-btn {
        background-color: $bg-color;
        &:hover,
        &:focus {
            background-color: $bg-secondary;
        }
    }
    ul.dropdown-menu {
        background-color: $bg-color;
        li a {
            color: $txt-color;
            &:hover {
                background-color: $bg-secondary;
                color: $txt-color;
            }
        }
    }
    section {
        .carousel-inner {
            overflow: inherit;
        }
        img {
            width: 100%;
            position: relative;
            transition: all 0.8s;
            cursor: pointer;

            &:hover {
                z-index: 2;
                transform: scale(1.3);
                box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.85);
            }
        }
    }
}
