body {
    color: $txt-color;
    background-color: $bg-color;
}

select {
    option {
        &:hover {
            background-color: $bg-secondary !important;
        }
    }
}

main {
    #heading .svg-container {
        padding: 5px 10px;
        border: 1px solid white;
        cursor: pointer;
    }
    section {
        img {
            width: 100%;
        }
    }
}
