<div class="container-fluid h-100 py-3">
    <h1 class="border-top border-bottom pt-2 pb-3 m-0 mt-4 border-danger">Angular Weekly Project</h1>
    <ul class="mt-3">
        <li>Registration Module with Errors handling</li>
        <li class="my-2">Login Module with Errors handling</li>
        <li>Admin Panel accessible only for admin Users
            <ul>
                <li>Per comodità tutte le password sono: password</li>
                <li>Possibility to create users with Admin privileges</li>
                <li>Possibility to delete users</li>
            </ul>
        </li>
        <li class="my-2">Users list page accessible for logged in users</li>
        <li>Public Forum section
            <ul>
                <li>Create post button available for Logged In users</li>
                <li>Edit button available only for the post's owner</li>
                <li>Delete button available for post's Owner and Admin</li>
            </ul>
        </li>
        <li>Firebase deployed Project URL: <a class="text-danger" href="lizzo-ngproject-m3-s3-g5.web.app">Click QUI</a>
        </li>
    </ul>
</div>