body {
    margin: 0;
    background-color: #303030;
    color: white;
}

.logo {
    width: 200px;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}

.list-item a {
    font-size: large;
    font-weight: 700;
    text-decoration: none;
}

.list-item {
    list-style-type: square;
}

.my-header {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 1px;
    background-color: aquamarine;
    color: black;
}

main {
    margin-left: 8px;
    margin-right: 8px;
}

main p {
    margin-top: 30px;
    margin-bottom: 25px;
}

.list-title {
    margin-bottom: 0;
}

main hr {
    margin-top: 20px;
}

.content-title {
    margin-top: 2px;
    margin-bottom: 0;
}

.content-subtitle {
    margin-top: 2px;
    margin-bottom: 0;
}

.table-title {
    margin-top: 35px;
    margin-bottom: 0;
    text-align: center;
    background-color: rgb(40, 194, 143);
    padding: 8px;
    color: black;
    font-weight: 700;
}

.my-table {
    width: 100%;
    text-align: center;
}

.my-table th, td {
    border: solid 1px;
}
.link-val {
    color: white;
}

.sidebar {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 8px;
    margin-right: 8px;
}