<section class="container mt-3">
    <div class="row h-100">
        <div class="col-1 h-100"></div>
        <div class="col p-0 h-100 d-flex flex-column align-items-center">
            <video controls src="assets/EasterEgg.mp4"></video>
            <p class="text-center text-light">Questo video è stato editato dal sig.Manuel Altruda</p>
            <p class="text-center text-light">Tutti coloro che faranno uso di questo video a
                scopo prettamente NON istruttivo, saranno instantaneamente querelati.</p>
            <p class="text-center text-light">© GRUPPO-2</p>
        </div>
        <div class="col-1 h-100"></div>
    </div>
</section>