<div class="container py-5 d-flex flex-column">
    <button #usersBtn class="btn btn-danger px-5" (click)="isUsersCollapsed = !isUsersCollapsed"
        [innerText]="isUsersCollapsed ? 'Expand Users List' : 'Collapse Users List'"></button>
    <div class="mt-3" #collapseUsers="ngbCollapse" [(ngbCollapse)]="isUsersCollapsed">
        <table class="table">
            <thead>
                <tr class="border-0">
                    <th scope="col" class="bg-secondary text-white">#</th>
                    <th scope="col" class="bg-secondary text-white">Real Name</th>
                    <th scope="col" class="bg-secondary text-white">Username</th>
                    <th scope="col" class="bg-secondary text-white">E-Mail</th>
                    <th scope="col" class="bg-secondary text-white">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersArr; let i = index" class="border-1 border-bottom border-danger">
                    <th scope="row" class="bg-secondary text-white border-0">{{ i + 1 }}</th>
                    <td class="bg-secondary border-0"
                        [ngClass]="{'text-danger-emphasis fw-bold': user.isadmin, 'text-white': !user.isadmin}">{{
                        user.realname }}</td>
                    <td class="bg-secondary border-0"
                        [ngClass]="{'text-danger-emphasis fw-bold': user.isadmin, 'text-white': !user.isadmin}">{{
                        user.username }}</td>
                    <td class="bg-secondary text-white border-0">{{ user.email }}</td>
                    <td class="bg-secondary border-0">
                        <button class="btn btn-sm btn-dark" (click)="deleteUser(user)">Delete User</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button #formBtn class="btn btn-danger px-5 mt-5" (click)="isFormCollapsed = !isFormCollapsed">Expand Create User
        Form</button>
    <div class="mt-3" #collapseForm="ngbCollapse" [(ngbCollapse)]="isFormCollapsed">
        <ng-template #content let-c="close" let-d="dismiss">
            <app-modal [title]="modalTitle" [userName]="modalTitleUser" [content]="modalContent"
                (onClose)="closeModal()"></app-modal>
        </ng-template>

        <form class="row g-3" #f="ngForm">
            <div class="col-8">
                <div class="d-flex justify-content-between">
                    <label for="nameInput" class="form-label">Real Name:</label>
                    <label *ngIf="realname.invalid && realname.touched" for="nameInput" class="form-label err-msg">Campo
                        Obbligatorio</label>
                </div>
                <input #realname="ngModel" type="text" id="nameInput" [(ngModel)]="data.realname" name="name" required
                    class="form-control bg-dark text-white border-danger rounded-4 shadow-none" placeholder="Name">
            </div>

            <div class="col-8">
                <div class="d-flex justify-content-between">
                    <label for="usernameInput" class="form-label">Username:</label>
                    <label *ngIf="username.invalid && username.touched" for="nameInput" class="form-label err-msg">Campo
                        Obbligatorio</label>
                </div>
                <input #username="ngModel" type="text" id="usernameInput" [(ngModel)]="data.username" name="username"
                    required class="form-control bg-dark text-white border-danger rounded-4 shadow-none"
                    placeholder="Username">
            </div>

            <div class="col-8">
                <div class="d-flex justify-content-between">
                    <label for="emailInput" class="form-label">Email address:</label>
                    <label *ngIf="email.invalid && email.touched" for="nameInput" class="form-label err-msg">Campo
                        Obbligatorio</label>
                </div>
                <input #email="ngModel" type="email" id="emailInput" [(ngModel)]="data.email" name="email" required
                    class="form-control bg-dark text-white border-danger rounded-4 shadow-none" placeholder="E-Mail">
            </div>

            <div class="col-8">
                <div class="d-flex justify-content-between">
                    <label for="passInput" class="form-label">Your Password:</label>
                    <label *ngIf="password.invalid && password.touched" for="nameInput" class="form-label err-msg">Campo
                        Obbligatorio</label>
                </div>
                <input #password="ngModel" type="password" id="passInput" [(ngModel)]="data.password" name="password"
                    required class="form-control bg-dark text-white border-danger rounded-4 shadow-none"
                    placeholder="Password">
            </div>

            <div class="col-8 form-check form-switch">
                <label class="form-check-label" for="isUserBox">User is Admin ?</label>
                <input type="checkbox" role="switch" class="form-check-input bg-secondary border-black" id="isUserBox"
                    [(ngModel)]="data.isadmin" name="isadmin">
            </div>

            <div class="col-8 d-flex">
                <button [disabled]="f.invalid" class="btn btn-outline-danger px-5 mt-2" (click)="createUser()">Create
                    User</button>
            </div>
        </form>
    </div>
</div>