@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.container {
  background-color: var(--bg-tasks);
  border-radius: 20px;
  padding: 10px 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
  }

  button {
    cursor: pointer;
    border: none;
    border-radius: 100%;
    padding: 5px 8px;
    margin: 0 10px;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }

  .green {
    background-color: rgb(0, 195, 104);
  }

  .red {
    background-color: var(--my-red);
  }

  .yellow {
    background-color: goldenrod;
  }
}
