<div class="main-container">
    <img [src]="path" class="w-100">
    <div class="hide bg-dark">
        <div class="d-flex flex-column text-light">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <i class="bi bi-play-circle-fill"></i>
                    <i class="bi bi-check-circle mx-3"></i>
                    <i class="bi bi-hand-thumbs-up"></i>
                </div>
                <i class="bi bi-arrow-down-circle"></i>
            </div>
        </div>
        <div class="d-flex">
            <p class="m-0 text-success fw-semibold">99% Compatibile</p>
        </div>
        <div class="d-flex text-light mt-2">
            <p class="m-0">Rilassante • Fantasy • Cupo</p>
        </div>
    </div>
</div>