.main-container {
  transition: transform 0.8s;
  position: relative;

  .hide {
    display: none;
    opacity: 0;
    position: relative;
    height: 0;
    z-index: 100;

    p {
      font-size: 0.8rem;
    }

    i {
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: rgb(199, 199, 199);
      }
    }
  }

  img {
    max-width: 200px;
  }

  &:hover {
    position: absolute;
    z-index: 100;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.85);
  }

  &:hover > .hide {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    animation-name: showBottomContainer;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 100;
    height: max-content;
    display: block;
  }
}

@keyframes showBottomContainer {
  to {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    opacity: 1;
  }
}

.i-green {
  color: var(--bs-success) !important;
  &:hover {
    color: #145e3b !important;
  }
}
