$size-25em: 2.5em;
$size-23em: 2.3em;
$size-20em: 2.0em;
$size-18em: 1.8em;
$size-15em: 1.5em;
$size-12em: 1.2em;

@mixin title-big {
    font-size: $size-23em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}