body {
    font-family: $main-font;
    background-color: $bg-body;
    color: $text-color;
}

.hero-section {
    @include grid;
    background-color: $bg-hero;

    .txt-container {
        text-align: center;
    }

    img {
        width: 40%;
        @include floating;
        transition: all 0.4s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.main-content {
    @include grid;
    background-color: $bg-sections-alt;

    @media screen and (max-width: 700px) {
        flex-wrap: wrap;
    }

    .section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8em;
        font-family: $sections-font;

        @media screen and (max-width: 700px) {
            width: 75%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        img {
            width: 50%;

            @media screen and (max-width: 700px) {
                width: 25%;
            }
        }
    }
}