/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.7);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 10px;
  }
}

input {
  &.form-check-input:focus {
    box-shadow: 0 0 0 0.15rem #dc354657;
  }
  &.form-check-input:checked {
    background-color: #dc3546c2 !important;
  }
}
