<div class="container py-3">
    <ng-template #content let-c="close" let-d="dismiss">
        <app-modal [title]="modalTitle" [userName]="modalTitleUser" [content]="modalContent"
            (onClose)="redirectNow()"></app-modal>
    </ng-template>

    <app-alert *ngIf="isError" (onCloseAlert)="isError = false" [messageTitle]="alertTitle"
        [errorInfo]="alertBody"></app-alert>

    <h1 class="text-center">Accedi al sito</h1>
    <form class="row g-3 justify-content-center mt-3" #f="ngForm">
        <div class="col-8">
            <div class="d-flex justify-content-between">
                <label for="emailInput" class="form-label">Email address:</label>
                <label *ngIf="email.invalid && email.touched" for="emailInput" class="form-label err-msg">Campo
                    obbligatorio</label>
            </div>

            <input type="email" id="emailInput" #email="ngModel" [(ngModel)]="data.email" name="email" required
                class="form-control bg-dark text-white border-danger rounded-4 shadow-none" placeholder="E-Mail">
        </div>

        <div class="col-8">
            <div class="d-flex justify-content-between">
                <label for="passInput" class="form-label">Your Password:</label>
                <label *ngIf="password.invalid && password.touched" for="passInput" class="form-label err-msg">Campo
                    obbligatorio</label>
            </div>
            <input type="password" id="passInput" #password="ngModel" [(ngModel)]="data.password" name="password"
                required class="form-control bg-dark text-white border-danger rounded-4 shadow-none"
                placeholder="Password">
        </div>
        <div class="col-8 d-flex justify-content-center">
            <button [disabled]="f.invalid" class="btn btn-outline-danger px-5 mt-2" (click)="login()">Login</button>
        </div>
    </form>
</div>