body {
    display: flex;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: bisque;
    padding: 10px 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    margin: 25px 0;
    padding: 10px 20px;
    background-color: gold;
    border-radius: 40px;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

ul img {
    width: 50px;
}

.card img {
    width: 260px;
}

main {
    padding: 0 25px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px 10px;
    background-color: bisque;
    padding-bottom: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-description {
    text-align: center;
}

.card-description p:first-child {
    font-weight: bold;
}

.add-to-cart {
    width: 70%;
    background-color: rgb(250, 229, 115);
    padding: 10px 0;
    border-radius: 80px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.mb-50 {
    margin-bottom: 50px;
}

.news {
    background-color: rgb(250, 233, 212);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.news img {
    width: 500px;
    margin: 10px auto;
}

.article {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1280px) {
    .news {
        flex-direction: row;
    }

    .news .article {
        order: 2;
        margin-left: 20px;
    }
}