<!-- mobile -->
<ngb-carousel [showNavigationIndicators]="false" [interval]="0" class="d-md-none">
    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrMobile_one" class="col-4 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrMobile_two" class="col-4 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrMobile_three" class="col-4 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrMobile_four" class="col-4 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>
</ngb-carousel>



<!-- tablet -->

<ngb-carousel [showNavigationIndicators]="false" [interval]="0" class="d-none d-md-block d-lg-none">
    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrTablet_one" class="col-3 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrTablet_two" class="col-3 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrTablet_three" class="col-3 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>
</ngb-carousel>



<!-- large -->

<ngb-carousel [showNavigationIndicators]="false" [interval]="0" class="d-none d-lg-block">
    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrLarge_one" class="col-2 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row justify-content-evenly px-5">
            <div *ngFor="let media of mediaArrLarge_two" class="col-2 px-1">
                <app-single-card [media]="media"></app-single-card>
            </div>
        </div>
        <button class="carousel-control-prev" ngbSlidePrev aria-label="Previous"></button>
        <button class="carousel-control-next" ngbSlideNext aria-label="Next"></button>
    </ng-template>
</ngb-carousel>