.rinnegan {
  background-color: #bc79ff;
  position: absolute;
  bottom: 50%;
  opacity: 0.4;
  width: 400px;
  height: 400px;
  border-top-left-radius: 80%;
  border-bottom-right-radius: 90%;
  border-bottom-left-radius: 5px;
  border: 4px solid black;
  overflow: hidden;
  transform: rotate(25deg);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 5s ease-in-out;
  box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.8);

  .pupilla {
    width: 20px;
    height: 20px;
    background-color: #252525;
    border-radius: 100%;
  }

  .circle-one {
    width: 400px;
    height: 400px;
    border-radius: 30%;
    border: 2px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle-two {
    width: 350px;
    height: 350px;
    border-radius: 40%;
    border: 2px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle-three {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle-four {
    width: 240px;
    height: 240px;
    border-radius: 60%;
    border: 2px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle-five {
    width: 180px;
    height: 180px;
    border-radius: 60%;
    border: 2px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle-six {
    width: 110px;
    height: 110px;
    border-radius: 70%;
    border: 2px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle-seven {
    width: 60px;
    height: 60px;
    border-radius: 80%;
    border: 2px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
    box-shadow: 0px 0px 56px 10px rgba(0, 0, 0, 0.8);
  }

  100% {
    opacity: 0.4;
    box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.8);
  }
}
