/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
html, body {
    height: 100%;
}

body {
    font-family: 'Bree Serif';
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#testoAlternato {
    border: 3px solid rgb(74, 74, 74);
    width: fit-content;
    padding: 20px 20px;
    padding-right: 100px;
    margin-top: 30px;
}

.parole {
    color: rgb(130, 175, 175);
    overflow: hidden;
}

.parole i:first-child {
    position: absolute;
    animation: scroll 6s ease 0s infinite;
}

.parole i:nth-of-type(2) {
    position: absolute;
    opacity: 0;
    animation: scroll 6s ease 2s infinite;
}

.parole i:last-child {
    opacity: 0;
    position: absolute;
    animation: scroll 6s ease 4s infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }
    30% {
        transform: translateY(0px);
        opacity: 1;
    }
    60% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
        /* animation-delay: 12s; not-working */
    }
}