select.form-select {
  width: max-content;
  height: 35px;
  font-size: 0.8em;
  font-weight: 500;
  option {
    &:hover {
      background: rgb(255, 0, 0, 0.6) !important;
    }
    &:checked {
      background: rgb(255, 0, 0, 0.6) !important;
    }
  }

  .bg-custom {
    background-color: rgba(0, 0, 0, 0.718);
  }
}
