<footer>
    <div class="container pb-3">
        <div class="row-cols-1 my-3">
            <div class="col">
                <div class="d-flex">
                    <i class="bi bi-facebook me-3"></i>
                    <i class="bi bi-instagram mx-3"></i>
                    <i class="bi bi-twitter mx-3"></i>
                    <i class="bi bi-youtube ms-3"></i>
                </div>
            </div>
        </div>

        <div class="row w-100 g-2 g-md-0">
            <div class="col-6 col-md">
                <div class="d-flex flex-column">
                    <a class="text-decoration-none my-1" href="#">Audiodescrizione</a>
                    <a class="text-decoration-none my-1" href="#">Rapporti con gli investitori</a>
                    <a class="text-decoration-none my-1" href="#">Note legali</a>
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="d-flex flex-column">
                    <a class="text-decoration-none my-1" href="#">Centro assistenza</a>
                    <a class="text-decoration-none my-1" href="#">Opportunità di lavoro</a>
                    <a class="text-decoration-none my-1" href="#">Preferenze per i cookie</a>
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="d-flex flex-column">
                    <a class="text-decoration-none my-1" href="#">Carte regalo</a>
                    <a class="text-decoration-none my-1" href="#">Condizione di utilizzo</a>
                    <a class="text-decoration-none my-1" href="#">Informazioni sull'azienda</a>
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="d-flex flex-column">
                    <a class="text-decoration-none my-1" href="#">Media Center</a>
                    <a class="text-decoration-none my-1" href="#">Privacy</a>
                    <a class="text-decoration-none my-1" href="#">Contattaci</a>
                </div>
            </div>
        </div>
        <button class="custom-btn btn btn-sm rounded-0 border border-1 mt-4 mb-3 px-3">Codice di
            servizio</button>
        <p>© 1997 - 2023 Netflix, Inc.</p>
    </div>
</footer>